version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: workflow_db
    volumes:
      - ./data_dump/workflow_db.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d workflow_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  frontend:
    build: ./frontend
    ports:
      - "8081:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    command: python app.py
    volumes:
      - ./backend:/app
    ports:
      - "5001:5000"
    environment:
      - DATABASE_URL=postgresql://root:password@db:5432/workflow_db
      - REDIS_URL=redis://redis:6379/0
      - AWS_DEFAULT_REGION=ap-south-1
      - AWS_BEARER_TOKEN_BEDROCK=${AWS_BEARER_TOKEN_BEDROCK}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5051:80"
    depends_on:
      - db
    restart: always

volumes:
  postgres_data:
